@tailwind base;
@tailwind components;
@tailwind utilities;

.ourName {
  font-style: italic;
}

.name {
  font-weight: bold;
}


:root {
  font-family: 'Courier New', Courier, monospace;
  color: #c0c0c0;
  background-color: #222222;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}


a {
  font-weight: 500;
  color: #c0c0c0;
  text-decoration: inherit;
}

a:hover {
  color: #c0c0c0;
}

h1 {
  text-align: center;
}

#main_menubar button {
  border: 0;
  border-radius: 0;
}

.hxng_menubar-item {
  background-color: #ffffff;
  margin: 0.2em;
  padding: 0.5em;
  border-radius: 0.1em;
}